*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    
}

#main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh; 
    background-color: black;
}
#nav{
    display: flex;
    justify-content: space-between;
}
#nav a{
    color: white;
    opacity: .8;
    text-decoration: none;
    font-size: 18px;
}
#nav h4{
    color: white;
    opacity: .8;
}
#heading{
    margin-top: 80px;
}
#heading h1{
    font-size: 9vw;
    font-family: "General Sans Medium", sans-serif;
    opacity: .6;
    margin-left: 3rem;
    
}
#heading #sech1{
    margin-left: 11rem;
    margin-top: -20px;
}
#heading h5{
    opacity: .8;
    position: relative;
}
.blockText{
    width: fit-content;

}
.blockText h5{
    text-align: right;
     margin-top: -10px;

}
#chotiheading{
    width: 100%;
    text-align: right;
    margin-top: 90px;
    padding: 30px;
    font-size: 18px;
}
#herofooter{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    position: absolute;
    align-items: center;
    bottom: 3%;
    width: 100%;
}
